---
title: About us
layout: raw
---
{% include header.html container_class="container" logo_col_size="auto" navbar_justify="start" %}
      <main id="content" class="content">
        <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-cover bg-center" style="background-image: url(/assets/img/bg/bg-22.jpg);" data-parallax="true" data-parallax-options='{ "parallaxBG": true }'>
          <div class="container">
            <div class="row" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"28","easing":"easeOutQuint","direction":"backward","initValues":{"translateX":35,"translateY":35,"opacity":0},"animations":{"translateX":0,"translateY":0,"opacity":1}}'>
              <div class="lqd-column col-md-6 col-lg-5 mt-100">
                <h1 class="text-white">Contact us</h1>
                <div class="iconbox iconbox-side iconbox-sm iconbox-heading-sm" data-plugin-options='{"color": "#dd6a9d"}'>
                  <div class="iconbox-icon-wrap">
                    <span class="iconbox-icon-container">
                      <i class="icon-ion-ios-at"></i>
                    </span>
                  </div><!-- /.iconbox-icon-wrap -->
                  <div class="contents">
                    <h3 class="text-white">E-mail</h3>
                    <div class="contact-form contact-form-inputs-sm contact-form-inputs-underlined contact-form-button-md contact-form-button-block">
                      <form action="https://formspree.io/f/mnqopzdl" method="POST" novalidate="novalidate">
                        <input type="hidden" name="_subject" value="{{ page.title }}">
                        <input name="name" type="text" aria-required="true" aria-invalid="false" placeholder="Your Name" required>
                        <input name="_replyto" type="email" aria-required="true" aria-invalid="false" placeholder="Your E-mail Address" required>
                        <textarea name="message" cols="10" rows="3" aria-required="true" aria-invalid="false" placeholder="Your Message" required></textarea>
                        <input type="submit" value="Send" class="bg-gradient-primary-lr h6 ltr-sp-2 text-dark w-100">
                      </form>
                      <div class="contact-form-result">
                        <p class="form-message form-success hidden">Thank you for your message, we will get back to you as soon as possible!</p>
                        <p class="form-message form-error hidden">Sorry, unfortunately something went wrong. Please, try again later or use another way of contacting us.</p>
                      </div><!-- /.contact-form-result -->
                    </div><!-- /.contact-form -->
                  </div><!-- /.contents -->
                </div><!-- /.iconbox -->
              </div><!-- /.col-md-7 col-lg-6 -->
            </div><!-- /.row -->
            <div class="row" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"200","easing":"easeOutQuint","direction":"backward","initValues":{"translateX":35,"translateY":35,"opacity":0},"animations":{"translateX":0,"translateY":0,"opacity":1}}'>
              <div class="lqd-column col-md-3 col-sm-6">
                <div class="iconbox iconbox-side iconbox-sm iconbox-heading-sm" data-plugin-options='{"color": "#dd6a9d"}'>
                  <div class="iconbox-icon-wrap">
                    <span class="iconbox-icon-container">
                      <i class="icon-ion-ios-mail"></i>
                    </span>
                  </div><!-- /.iconbox-icon-wrap -->
                  <div class="contents">
                    <h3 class="text-white">Address</h3>
                    <p>Ash Corner Lodge, Whitchurch, Shropshire, SY13 4DL, United Kingdom</p>
                  </div><!-- /.contents -->
                </div><!-- /.iconbox -->
              </div><!-- /.col-md-3 col-sm-6 -->
              <div class="lqd-column col-md-3 col-sm-6">
                <div class="iconbox iconbox-side iconbox-sm iconbox-heading-sm" data-plugin-options='{"color": "#dd6a9d"}'>
                  <div class="iconbox-icon-wrap">
                    <span class="iconbox-icon-container">
                      <i class="icon-ion-ios-call"></i>
                    </span>
                  </div><!-- /.iconbox-icon-wrap -->
                  <div class="contents">
                    <h3 class="text-white">Land line</h3>
                    <p>+44 1948 665557</p>
                  </div><!-- /.contents -->
                </div><!-- /.iconbox -->
              </div><!-- /.col-md-3 col-sm-6 -->

            </div><!-- /.row -->
          </div><!-- /.container -->
        </section>
      </main>
{% include footer.html %}
