---
title: Main
layout: main
topic: all
slogan: IT is the engine of your business.<br>Scale IT up.
synopsis: >-
  We help small businesses and startups to set up and develop their Clockwork
  IT. It's not about fixing problems or giving solutions; it is about helping
  you to constantly improve the performance of your IT to reach the ideal state
  of a clockwork.
---

{% include services.html %}
{% include how.html %}

      <section class="vc_row pt-55 pb-10">
        <div class="container">

          <div class="row">

            <div class="lqd-column col-md-6 col-md-offset-3">

              <header class="fancy-title text-center mb-60">
                <h2>Latest Posts</h2>
              </header>

            </div><!-- /.lqd-column col-md-6 col-md-offset-3 -->

          </div><!-- /.row -->

          <div class="row">

            <div class="liquid-blog-posts">
              <div class="liquid-blog-grid row">

                <div class="lqd-column col-md-6 px-4">

                  <article class="liquid-lp liquid-lp-time-aside">
                    <time class="entry-date published updated liquid-lp-date" datetime="2019-08-16T11:32:46+00:00"><span>16</span> Aug</time>
                    <header class="liquid-lp-header">
                      <h2 class="entry-title liquid-lp-title h5">
                        <a href="#" rel="bookmark">Immigration minister pledges to avoid EU labour</a>
                      </h2>
                    </header>
                    <div class="liquid-lp-excerpt entry-summary ">
                      <p>Never ever think of giving up. Winners never quit and quitters never win. Take all negative words out of your mental dictionary and focus</p>
                    </div><!-- /.liquid-lp-excerpt -->
                    <footer class="liquid-lp-footer">
                      <div class="liquid-lp-meta">
                        <span class="author vcard">
                          <span class="screen-reader-text">Author </span>
                          <a class="url fn n" href="#">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="12" stroke="#a7a9b8"> <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M12,12L12,12 c-2.761,0-5-2.239-5-5V6c0-2.761,2.239-5,5-5h0c2.761,0,5,2.239,5,5v1C17,9.761,14.761,12,12,12z" stroke-linejoin="miter"></path> <path data-color="color-2" fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M22,20.908 c0-1.8-1.197-3.383-2.934-3.856C17.172,16.535,14.586,16,12,16s-5.172,0.535-7.066,1.052C3.197,17.525,2,19.108,2,20.908V23h20 V20.908z" stroke-linejoin="miter"></path> </svg>
                            Sam Smith</a>
                        </span>
                      </div><!-- /.liquid-lp-meta -->
                    </footer>
                  </article>

                </div><!-- /.lqd-column col-md-6 -->

                <div class="lqd-column col-md-6 px-4">

                  <article class="liquid-lp liquid-lp-time-aside">
                    <time class="entry-date published updated liquid-lp-date" datetime="2019-08-16T11:32:46+00:00"><span>16</span> Aug</time>
                    <header class="liquid-lp-header">
                      <h2 class="entry-title liquid-lp-title h5">
                        <a href="#" rel="bookmark">Trade Show Promotions</a>
                      </h2>
                    </header>
                    <div class="liquid-lp-excerpt entry-summary ">
                      <p>Never ever think of giving up. Winners never quit and quitters never win. Take all negative words out of your mental dictionary and focus</p>
                    </div><!-- /.liquid-lp-excerpt -->
                    <footer class="liquid-lp-footer">
                      <div class="liquid-lp-meta">
                        <span class="author vcard">
                          <span class="screen-reader-text">Author </span>
                          <a class="url fn n" href="#">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="12" stroke="#a7a9b8"> <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M12,12L12,12 c-2.761,0-5-2.239-5-5V6c0-2.761,2.239-5,5-5h0c2.761,0,5,2.239,5,5v1C17,9.761,14.761,12,12,12z" stroke-linejoin="miter"></path> <path data-color="color-2" fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M22,20.908 c0-1.8-1.197-3.383-2.934-3.856C17.172,16.535,14.586,16,12,16s-5.172,0.535-7.066,1.052C3.197,17.525,2,19.108,2,20.908V23h20 V20.908z" stroke-linejoin="miter"></path> </svg>
                            Sam Smith</a>
                        </span>
                      </div><!-- /.liquid-lp-meta -->
                    </footer>
                  </article>

                </div><!-- /.lqd-column col-md-6 -->

              </div><!-- /.liquid-blog-grid row -->
            </div><!-- /.liquid-blog-posts -->

          </div><!-- /.row -->

        </div><!-- /.container -->
      </section>
