      <section id="copyright" class="bt-fade-white-015 pt-35 pb-35 mt-50">
        <div class="container">
          <div class="row">

            <div class="lqd-column">
              <p class="my-0 font-size-10">
                &copy; 2020 Scale IT Limited. Scale IT Limited is a limited
                company registered in England and Wales. Registered number:
                10857155. Registered office: 86 Tettenhall Road, Wolverhampton,
                West Midlands, WV1 4TF.
              </p>
            </div><!-- /.col-md-6 text-md-right -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
