

    <footer class="main-footer" data-sticky-footer="true">
      <section id="page-footer">
        <div class="container">
          <div class="row">

            <div class="lqd-column col-md-3 col-sm-6 col-xs-6">
              <h3 class="widget-title text-white">Company</h3>
              <ul class="lqd-custom-menu reset-ul text-white lh-2">
                <li><a href="/about.html">About</a></li>
                <li><a href="/contacts.html">Contacts</a></li>
                <li><a href="/posts.html">Blog</a></li>
                <li><a href="/privacy.html">Privacy Policy</a></li>
                <!-- <li><a href="/cookie.html">Cookie Policy</a></li> -->
              </ul>
            </div><!-- /.col-md-3 col-sm-6 col-xs-6 -->
            <div class="lqd-column col-md-3 col-sm-6 col-xs-6">
              <h3 class="widget-title text-white">Services</h3>
              <ul class="lqd-custom-menu reset-ul text-white lh-2">
                <li><a href="/it-automation.html">IT Automation</a></li>
                <li><a href="/it-performance.html">IT Performance</a></li>
                <li><a href="/it-planning.html">IT Planning</a></li>
                <li><a href="/it-bootstrap.html">IT Bootstrap</a></li>
              </ul>
            </div><!-- /.col-md-3 col-sm-6 col-xs-6 -->
            <div class="lqd-column col-md-3 col-sm-6 col-xs-6">
              <h3 class="widget-title text-white">How</h3>
              <ul class="lqd-custom-menu reset-ul text-white lh-2">
                <li><a href="/coaching.html">Coaching</a></li>
                <li><a href="/mentoring.html">Mentoring</a></li>
                <li><a href="/partnership.html">Partnership</a></li>
                <li><a href="/consulting.html">Consulting</a></li>
              </ul>
            </div><!-- /.col-md-3 col-sm-6 col-xs-6 -->
            <div class="lqd-column col-md-3 col-sm-6 col-xs-6">
              <h3 class="widget-title text-white">Follow us</h3>
              <ul class="social-icon social-icon-md">
                <li><a href="https://www.linkedin.com/company/scaleitlimited/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/scaleitlimited"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://github.com/scaleitlimited/"><i class="fa fa-github"></i></a></li>
                <li><a href="https://github.com/scaleitlimited/"><i class="fa fa-youtube-play"></i></a></li>
              </ul>

            </div><!-- /.col-md-3 col-sm-6 col-xs-6 -->

          </div><!-- /.row -->
        </div><!-- /.container -->

      </section>
{% include copyright.html %}
    </footer><!-- /.main-footer -->
