    <header class="main-header main-header-overlay">

      <div class="mainbar-wrap">
        <div class="megamenu-hover-bg"></div><!-- /.megamenu-hover-bg -->
        <div class="{{ include.container_class }} mainbar-container">
          <div class="mainbar">
            <div class="row mainbar-row align-items-lg-stretch px-4">

              <div class="col-{{ include.logo_col_size }}">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/index.html" rel="home">
                    <span class="navbar-brand-inner">
                      <img class="logo-dark" width="128" src="/assets/img/logo/i-scaleit.png" alt="Scale IT Limited">
                      <img class="logo-sticky" width="128" src="/assets/img/logo/i-scaleit.png" alt="Scale IT Limited">
                      <img class="mobile-logo-default" width="180" src="/assets/img/logo/c-scaleit.png" alt="Scale IT Limited">
                      <img class="logo-default" width="180" src="/assets/img/logo/i-scaleit.png" alt="Scale IT Limited">
                    </span>
                  </a>
                  <button type="button" class="navbar-toggle collapsed nav-trigger style-mobile" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false" data-changeclassnames='{ "html": "mobile-nav-activated overflow-hidden" }'>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="bars">
                      <span class="bar bg-primary"></span>
                      <span class="bar bg-primary"></span>
                      <span class="bar bg-primary"></span>
                    </span>
                  </button>
                </div><!-- /.navbar-header -->
              </div><!-- /.col -->

              <div class="col-md-10">

                <div class="collapse navbar-collapse" id="main-header-collapse">

                  <ul id="primary-nav" class="main-nav nav align-items-lg-stretch justify-content-lg-{{ include.navbar_justify }}" data-submenu-options='{ "toggleType":"fade", "handler":"mouse-in-out" }'>
                    <li>
                      <a href="/index.html#services">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt text-primary font-weight-semibold">Services</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="/about.html">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt text-primary font-weight-semibold">About</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="/contacts.html">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt text-primary font-weight-semibold">Contacts</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="/posts/">
                        <span class="link-icon"></span>
                        <span class="link-txt">
                          <span class="link-ext"></span>
                          <span class="txt text-primary font-weight-semibold">Blog</span>
                        </span>
                      </a>
                    </li>

                  </ul><!-- /#primary-nav  -->

                </div><!-- /#main-header-collapse -->
              </div><!-- /.col -->
              <div class="col-md-1">
								<div class="header-module">
									<div class="ld-module-search">
										<span class="ld-module-trigger text-primary" role="button" data-ld-toggle="true" data-toggle="collapse" data-target="#search-1" aria-controls="search-1" aria-expanded="false">
											<span class="ld-module-trigger-icon">
												<i class="icon-ld-search"></i>
											</span>
										</span>
										<div role="search" class="ld-module-dropdown collapse" id="search-1" aria-expanded="false">
											<div class="ld-search-form-container">
												<form role="search" method="get" action="#" class="ld-search-form">
													<input type="search" placeholder="Start searching" value="" name="s">
													<span role="search" class="input-icon" data-ld-toggle="true" data-toggle="collapse" data-target="#search-1"
													aria-controls="search-1" aria-expanded="false"><i class="icon-ld-search"></i></span>
												</form>
											</div>
										</div><!-- /.ld-module-dropdown -->
									</div><!-- /.ld-module-search -->
								</div><!-- /.header-module -->
              </div><!-- /.col -->
            </div><!-- /.mainbar-row -->
          </div><!-- /.mainbar -->
        </div><!-- /.mainbar-container -->
      </div><!-- /.mainbar-wrap -->

    </header><!-- /.main-header -->

