      <section class="vc_row pt-40">
        <div class="container">
          <div class="row" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":44,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

            <div class="lqd-column col-md-8 col-md-offset-2">

              <header class="fancy-title text-center mb-60">
                <h2>How we deliver our services</h2>
              </header>

            </div><!-- /.col-md-6 col-md-offset-3 -->

            <div class="lqd-column col-md-3 col-sm-6">
              <div class="ld-flipbox ld-flipbox-tb">
                <div class="ld-flipbox-wrap">
                  <div class="ld-flipbox-face ld-flipbox-front" style="background-image: url(/assets/img/misc/fb-coaching.jpg)">
                    <span class="ld-flipbox-overlay ld-overlay"></span>
                    <div class="ld-flipbox-inner">
                      <a href="/contacts.html" class="btn btn-solid btn-sm semi-round btn-white text-secondary font-weight-semibold">
                        <!-- 720x540 -->
                        <span class="btn-txt">As a facilitator</span>
                      </a>
                    </div><!-- /.ld-flipbox-inner -->
                  </div><!-- /.ld-flipbox-face -->
                  <div class="ld-flipbox-face ld-flipbox-back bg-secondary">
                    <span class="ld-flipbox-overlay ld-overlay"></span>
                    <div class="ld-flipbox-inner">
                      <a href="/contacts.html" class="btn btn-underlined text-uppercase btn-bordered border-thin btn-white font-size-13 font-weight-semibold text-hover-white">
                        <span class="btn-txt">Coaching</span>
                      </a>
                    </div><!-- /.ld-flipbox-inner -->
                  </div><!-- /.ld-flipbox-face -->
                </div><!-- /.ld-flipbox-wrap -->
              </div><!-- /.ld-flipbox -->
            </div><!-- /.col-md-3 col-sm-6 -->

            <div class="lqd-column col-md-3 col-sm-6">
              <div class="ld-flipbox ld-flipbox-tb">
                <div class="ld-flipbox-wrap">
                  <div class="ld-flipbox-face ld-flipbox-front" style="background-image: url(/assets/img/misc/fb-mentoring.jpg)">
                    <span class="ld-flipbox-overlay ld-overlay"></span>
                    <div class="ld-flipbox-inner">
                      <a href="/contacts.html" class="btn btn-solid btn-sm semi-round btn-white text-secondary font-weight-semibold">
                        <span class="btn-txt">As an expert guide</span>
                      </a>
                    </div><!-- /.ld-flipbox-inner -->
                  </div><!-- /.ld-flipbox-face -->
                  <div class="ld-flipbox-face ld-flipbox-back bg-secondary">
                    <span class="ld-flipbox-overlay ld-overlay"></span>
                    <div class="ld-flipbox-inner">
                      <a href="/contacts.html" class="btn btn-underlined text-uppercase btn-bordered border-thin btn-white font-size-13 font-weight-semibold text-hover-white">
                        <span class="btn-txt">Mentoring</span>
                      </a>
                    </div><!-- /.ld-flipbox-inner -->
                  </div><!-- /.ld-flipbox-face -->
                </div><!-- /.ld-flipbox-wrap -->
              </div><!-- /.ld-flipbox -->
            </div><!-- /.col-md-3 col-sm-6 -->

            <div class="lqd-column col-md-3 col-sm-6">
              <div class="ld-flipbox ld-flipbox-tb">
                <div class="ld-flipbox-wrap">
                  <div class="ld-flipbox-face ld-flipbox-front" style="background-image: url(/assets/img/misc/fb-partnership.jpg)">
                    <span class="ld-flipbox-overlay ld-overlay"></span>
                    <div class="ld-flipbox-inner">
                      <a href="/contacts.html" class="btn btn-solid btn-sm semi-round btn-white text-secondary font-weight-semibold">
                        <span class="btn-txt">As a reliable complement</span>
                      </a>
                    </div><!-- /.ld-flipbox-inner -->
                  </div><!-- /.ld-flipbox-face -->
                  <div class="ld-flipbox-face ld-flipbox-back bg-secondary">
                    <span class="ld-flipbox-overlay ld-overlay"></span>
                    <div class="ld-flipbox-inner">
                      <a href="/contacts.html" class="btn btn-underlined text-uppercase btn-bordered border-thin btn-white font-size-13 font-weight-semibold text-hover-white">
                        <span class="btn-txt">Partnership</span>
                      </a>
                    </div><!-- /.ld-flipbox-inner -->
                  </div><!-- /.ld-flipbox-face -->
                </div><!-- /.ld-flipbox-wrap -->
              </div><!-- /.ld-flipbox -->
            </div><!-- /.col-md-3 col-sm-6 -->

            <div class="lqd-column col-md-3 col-sm-6">
              <div class="ld-flipbox ld-flipbox-tb">
                <div class="ld-flipbox-wrap">
                  <div class="ld-flipbox-face ld-flipbox-front" style="background-image: url(/assets/img/misc/fb-consulting.jpg)">
                    <span class="ld-flipbox-overlay ld-overlay"></span>
                    <div class="ld-flipbox-inner">
                      <a href="/contacts.html" class="btn btn-solid btn-sm semi-round btn-white text-secondary font-weight-semibold">
                        <span class="btn-txt">As a service provider</span>
                      </a>
                    </div><!-- /.ld-flipbox-inner -->
                  </div><!-- /.ld-flipbox-face -->
                  <div class="ld-flipbox-face ld-flipbox-back bg-secondary">
                    <span class="ld-flipbox-overlay ld-overlay"></span>
                    <div class="ld-flipbox-inner">
                      <a href="/contacts.html" class="btn btn-underlined text-uppercase btn-bordered border-thin btn-white font-size-13 font-weight-semibold text-hover-white">
                        <span class="btn-txt">consulting</span>
                      </a>
                    </div><!-- /.ld-flipbox-inner -->
                  </div><!-- /.ld-flipbox-face -->
                </div><!-- /.ld-flipbox-wrap -->
              </div><!-- /.ld-flipbox -->
            </div><!-- /.col-md-3 col-sm-6 -->

          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
