      <section class="vc_row pt-55 pb-10">
        <div class="container">

          <div class="row">
            <div class="lqd-column col-md-6 col-md-offset-3">
              <header class="fancy-title text-center mb-60">
                <h2>Latest Posts</h2>
              </header>
            </div><!-- /.lqd-column col-md-6 col-md-offset-3 -->
          </div><!-- /.row -->

          <div class="row">
            <div class="liquid-blog-posts">
              <div class="liquid-blog-grid row">
{% for post in site.posts limit:2 %}
{% assign author = site.people | where: "username", post.author | first %}
                <div class="lqd-column col-md-6 px-4">

                  <figure class="liquid-lp-media">
                    <a href="{{ post.url }}">
                      <img src="{{ post.cover_small }}" alt="cover">
                    </a>
                  </figure>
                  <article class="liquid-lp liquid-lp-time-aside liquid-blog-item liquid-blog-scheme-dark">
                    <time class="entry-date published updated liquid-lp-date" datetime="{{ post.date }}">{{ post.date | date: "<span>%d</span> %b"}}</time>
                    <header class="liquid-lp-header">
                      <h3 class="mb-10 mt-10">
                        <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
                      </h3>
                    </header>
                    <div class="liquid-lp-excerpt entry-summary ">
                      <p>{{ post.excerpt }}</p>
                    </div><!-- /.liquid-lp-excerpt -->
                    <footer class="liquid-lp-footer">
                      <div class="liquid-lp-meta col-sm-6 col-sm-offset-6 col-md-8 col-md-offset-4">
			    						  <a href="{{ post.url }}" class="btn btn-naked text-uppercase ltr-sp-1 size-sm font-weight-bold liquid-lp-read-more">
			    						  	<span>
			    						  		<span class="btn-line btn-line-before"></span>
			    						  		<span class="btn-txt text-secondary text-hover-primary">Continue Reading</span>
			    						  		<span class="btn-line btn-line-after"></span>
			    						  	</span>
			    						  </a>
                      </div>
                    </footer>
                  </article>

                </div><!-- /.lqd-column col-md-6 -->
{% endfor %}

              </div><!-- /.liquid-blog-grid row -->
            </div><!-- /.liquid-blog-posts -->

          </div><!-- /.row -->

        </div><!-- /.container -->
      </section>
