			<section class="vc_row py-40">
				<div class="container">

					<div class="row" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"160","easing":"easeOutQuint","direction":"forward","initValues":{"translateX":-37,"opacity":0},"animations":{"translateX":0,"opacity":1}}'>

						<div class="lqd-column col-md-8 col-sm-6 mb-30">
              <div class="h3 mt-75">What is getting in the way between you and your objective?</div>
              <div class="h3 mt-75">How much more could you get done if you had the energy?</div>
              <div class="h3 mt-75">How come that you hesitate to get started?</div>
              <div class="h3 mt-75">What will your next step be?</div>
						</div><!-- /.col-md-8 -->

						<div class="lqd-column col-md-4 col-sm-6 mb-30">

							<div class="lqd-column-inner pt-40 pb-20 px-3 px-lg-5 bg-cover" style="background-image: url(/assets/img/bg/bg-26.jpg);">

								<header class="fancy-title">
									<h3 class="my-0 text-primary">Let us know</h3>
								</header><!-- /.fancy-title -->
	
								<div class="contact-form contact-form-inputs-sm contact-form-inputs-underlined contact-form-button-md contact-form-button-block">
									<form action="https://formspree.io/f/mnqopzdl" method="post" novalidate="novalidate">
										<div class="row">
											<div class="lqd-column col-md-12">
                        <input type="hidden" name="_subject" value="{{ page.title }}">
												<input type="text" name="name" aria-required="true" aria-invalid="false" placeholder="Your Name " required>
												<input type="email" name="_replyto" aria-required="true" aria-invalid="false" placeholder="Your E-mail Address" required>
												<textarea cols="10" rows="3" name="message" aria-required="true" aria-invalid="false" placeholder="Your Message" required></textarea>
											  <input type="submit" value="Send" class="h6 bg-gradient-primary-br text-dark w-100">
											</div><!-- /.col-md-12 -->
										</div><!-- /.row -->
									</form>
                  <div class="contact-form-result">
                    <p class="form-message form-success hidden">Thank you for your message, we will get back to you as soon as possible!</p>
                    <p class="form-message form-error hidden">Sorry, unfortunately something went wrong. Please, try again later or use another way of contacting us.</p>
                  </div><!-- /.contact-form-result -->
								</div><!-- /.contact-form -->

							</div><!-- /.lqd-column-inner -->
							
						</div><!-- /.col-md-4 -->

					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>
