				  	  <div class="col-md-3 col-md-offset-1 sidebar-container">
				  	  	<aside class="main-sidebar">
				  	  		<!-- <div class="widget widget_search">
				  	  			<form role="search" method="get" class="search-form" action="#">
				  	  				<label>
				  	  					<span class="screen-reader-text">Search for:</span>
				  	  					<input type="search" class="search-field" placeholder="Search …" value="" name="s">
				  	  				</label>
				  	  				<input type="submit" class="search-submit" value="Search">
				  	  			</form>
				  	  		</div> --> <!-- /.widget_search -->
				  	  		<div class="widget widget_categories">
				  	  			<h3 class="widget-title">Categories</h3>
				  	  			<ul>
{% for posts_by_categories in site.categories %}
{% assign category = posts_by_categories | first %}
{% assign posts = posts_by_categories | last %}
				  	  				<li><a href="/posts/category/{{ category }}/">{{ category }}</a> ({{ posts | size }}) </li>
{% endfor %}
				  	  			</ul>
				  	  		</div><!-- /.widget_categories -->
				  	  		<div class="widget widget_categories">
				  	  			<h3 class="widget-title">Tags</h3>
				  	  			<ul>
{% for posts_by_tags in site.tags %}
{% assign tag = posts_by_tags | first %}
{% assign posts = posts_by_tags | last %}
				  	  				<li><a href="/posts/tag/{{ tag }}/">{{ tag }}</a> ({{ posts | size }}) </li>
{% endfor %}
				  	  			</ul>
				  	  		</div><!-- /.widget_categories -->
				  	  	</aside>
				  	  </div><!-- /.col-md-3 col-md-offset-1 sidebar-container -->

