      <section id="services" class="vc_row pt-30 pb-30">
        <div class="container">
          <div class="row" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"160","easing":"easeOutQuint","direction":"forward","initValues":{"translateX":-37,"opacity":0},"animations":{"translateX":0,"opacity":1}}'>

            <div class="lqd-column col-md-8 col-md-offset-2">
              <header class="fancy-title text-center mb-60">
                <h2>How can we help your IT to achieve more</h2>
                <p>
                  Continuous improvement is at the heart of what we do for
                  ourselves, and for you. Automation, Performance Management,
                  Planning, Scaling. Your IT can achieve more.
                </p>
              </header>
            </div><!-- /.lqd-column col-md-6 col-md-offset-3 -->

          </div>
          <div class="row" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"160","startDelay":"600","easing":"easeOutQuint","direction":"forward","initValues":{"translateX":-37,"opacity":0},"animations":{"translateX":0,"opacity":1}}'>
            <div class="lqd-column col-md-4">
              <div class="iconbox iconbox-side iconbox-circle iconbox-sm iconbox-heading-sm" data-plugin-options='{"color": "#fff"}'>
                <div class="iconbox-icon-wrap">
                  <a href="/it/automation/index.html" class="iconbox-icon-container bg-secondary">
                    <span class="iconbox-icon-hover-bg bg-gradient-primary-lr"></span>
                    <i class="icon-et-gears"></i>
                  </a>
                </div><!-- /.iconbox-icon-wrap -->
                <div class="contents">
                  <h3>Automation</h3>
                  <p>Automate the ordinary, so that you can focus on the extraordinary.</p>
                  <a href="/it/automation/index.html" class="liquid-overlay-link">Laern more</a>
                </div><!-- /.contents -->
              </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->

            <div class="lqd-column col-md-4">
              <div class="iconbox iconbox-side iconbox-circle iconbox-sm iconbox-heading-sm" data-plugin-options='{"color": "#fff"}'>
                <div class="iconbox-icon-wrap">
                  <a href="/contacts.html" class="iconbox-icon-container bg-secondary">
                    <span class="iconbox-icon-hover-bg bg-gradient-primary-lr"></span>
                    <i class="icon-et-bargraph"></i>
                  </a>
                </div><!-- /.iconbox-icon-wrap -->
                <div class="contents">
                  <h3>Performance management</h3>
                  <p><span style="white-space: nowrap;">Individual performance.</span> <span style="white-space: nowrap;">Teams performance.</span> <span style="white-space: nowrap;">Systems performance.</span></p>
                  <a href="/contacts.html" class="liquid-overlay-link">Learn more</a>
                </div><!-- /.contents -->
              </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->

            <div class="lqd-column col-md-4">
              <div class="iconbox iconbox-side iconbox-circle iconbox-sm iconbox-heading-sm" data-plugin-options='{"color": "#fff"}'>
                <div class="iconbox-icon-wrap">
                  <a href="/contacts.html" class="iconbox-icon-container bg-secondary">
                    <span class="iconbox-icon-hover-bg bg-gradient-primary-lr"></span>
                    <i class="icon-et-clipboard"></i>
                  </a>
                </div><!-- /.iconbox-icon-wrap -->
                <div class="contents">
                  <h3>Planning</h3>
                  <p><q style="font-style: italic;">Plan for what it is difficult while it is easy, do what is great while it is small.</q></p>
                  <a href="/contacts.html" class="liquid-overlay-link">Learn more</a>
                </div><!-- /.contents -->
              </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->

            <div class="lqd-column col-md-4 col-md-offset-4 mt-40">
              <div class="iconbox iconbox-side iconbox-circle iconbox-sm iconbox-heading-sm" data-plugin-options='{"color": "#fff"}'>
                <div class="iconbox-icon-wrap">
                  <a href="/contacts.html" class="iconbox-icon-container bg-secondary">
                    <span class="iconbox-icon-hover-bg bg-gradient-primary-lr"></span>
                    <i class="icon-et-key"></i>
                  </a>
                </div><!-- /.iconbox-icon-wrap -->
                <div class="contents">
                  <h3>Bootstrap</h3>
                  <p>Let's lay down the best possible foundations.</p>
                  <a href="/contacts.html" class="liquid-overlay-link">Learn more</a>
                </div><!-- /.contents -->
              </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->

          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>

      <section class="vrow pt-50 pb-50 mt-30 mb-30 bg-cover" style="background-image: url(assets/img/bg/bg-24.jpg);" data-parallax="true" data-parallax-options='{"parallaxBG": true}'>
        <div class="container">
          <div class="row d-flex flex-wrap align-items-center">
            <div class="lqd-column col-md-5 col-sm-8 text-right">
              <h3
                class="text-white pt-30 pb-30 mb-0 mt-0"
                data-fittext="true"
                data-fittext-options='{"compressor":0.5,"maxFontSize":"36","minFontSize":"36"}'
                data-split-text="true"
                data-split-options='{"type":"lines"}'
                data-custom-animations="true"
                data-ca-options='{"triggerHandler":"inview","animationTarget":".split-inner","duration":"1200","delay":"28","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":60,"rotateZ":15, "opacity": 0},"animations":{"translateY":0,"rotateZ":0, "opacity": 1}}'>
                Let's talk about you.<br>
                Stuck in your progress?<br>
                Need more confidence?<br>
                Trouble managing your time?
              </h3>

            </div><!-- /.lqd-column col-md-7 text-md-right -->

            <div class="lqd-column col-md-3 col-sm-8 text-md-left text-sm-right text-xs-right text-md-right" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","startDelay":"400","delay":100,"easing":"easeOutQuint","direction":"forward","initValues":{"translateX":-31,"opacity":0},"animations":{"translateX":0,"opacity":1}}'>

              <a href="/coaching.html" class="btn btn-solid bg-gradient-primary-lr text-uppercase semi-round px-2 h6 btn-primary text-dark">
                <span>
                  <span class="btn-txt">You've got this</span>
                  <span class="btn-icon text-secondary font-size-22"><i class="fa fa-angle-right"></i></span>
                </span>
              </a>

            </div><!-- /.lqd-column col-md-5 -->

          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
