---
layout: raw
---
    <div id="wrap">
      <header class="main-header" style="background:rgba(0, 25, 69, 1)">
        <div class="mainbar-wrap pb-20 pt-20">
          <div class="container mainbar-container">
            <div class="mainbar">
              <div class="row mainbar-row py-2">
                <div class="lqd-column">
                  <div class="navbar-header" style="background:rgba(0, 25, 69, 1)">
                    <div class="navbar-brand">
                      <!-- <img class="logo-dark" width="128" src="/assets/img/logo/i-scaleit.png" alt="Scale IT Limited">
                      <img class="logo-sticky" width="128" src="/assets/img/logo/i-scaleit.png" alt="Scale IT Limited">
                      <img class="mobile-logo-default" width="180" src="/assets/img/logo/i-scaleit.png" alt="Scale IT Limited"> -->
                      <img class="logo-default" width="180" src="/assets/img/logo/i-scaleit.png" alt="Scale IT Limited">
                    </div>
                  </div><!-- /.navbar-header -->
                </div><!-- /.col -->
              </div><!-- /.mainbar-row -->
            </div><!-- /.mainbar -->
          </div><!-- /.mainbar-container -->
        </div><!-- /.mainbar-wrap -->
      </header><!-- /.main-header -->

      <main id="content" class="content">
        <section class="vc_row pb-10 mt-60">
          <div class="container">
            <div class="row">
              <div class="lqd-column px-2">
                <h1>{{ page.title }}</h1>
              </div>
            </div><!-- /.row -->
          </div><!-- /.container -->
        </section>
        <section class="vc_row pb-10">
          <div class="container">
            <div class="row">
              <div class="lqd-column px-2">
{{ content }}
              </div>
            </div><!-- /.row -->
          </div><!-- /.container -->
        </section>
      </main><!-- /#content.content -->
      <footer style="background:rgba(0, 25, 69, 1)">
{% include copyright.html %}
      </footer><!-- /.main-footer -->
    </div><!-- /#wrap -->
