---
layout: leaflet
---

			<section class="vc_row pt-30 pb-30">
				<div class="container">

					<div class="row d-flex flex-wrap align-items-center">

						<div class="lqd-column col-md-6" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":31,"translateZ":-108,"opacity":0},"animations":{"translateY":0,"translateZ":0,"opacity":1}}'>
	
							<h2 class="font-weight-light font-size-30 pr-7 mr-7 mb-40"><i>{{ page.slogan }}</i></h2>
	
							<p class="pr-7 mr-7 mb-60 font-size-18 lh-175">{{ page.synopsis | markdownify }}</p>
	
            </div>	
						<div class="lqd-column col-md-5 col-md-offset-1">
	
							<div class="lqd-parallax-images">
	
								<div class="liquid-img-group-single" data-shadow-style="4" data-inview="true" data-animate-shadow="true">
									<div class="liquid-img-group-img-container">
										<div class="liquid-img-container-inner"
											data-parallax="true"
											data-parallax-from='{"translateY":78}'
											data-parallax-to='{"translateY":-78}'
											data-parallax-options='{"overflowHidden":false,"easing":"linear"}'
										>
											<figure>
												<img src="/assets/demo/misc/parallax-img-1.jpg" alt="Good Design" />
											</figure>
										</div><!-- /.liquid-img-container-inner -->
									</div><!-- /.liquid-img-group-img-container -->
								</div><!-- /.liquid-img-group-single -->
								
								<div class="liquid-img-group-single w-75" data-shadow-style="4" data-inview="true" data-animate-shadow="true">
									<div class="liquid-img-group-img-container">
										<div class="liquid-img-container-inner"
											data-parallax="true"
											data-parallax-from='{"translateY":107,"translateX":105}'
											data-parallax-to='{"translateY":-134, "translateX": 134}'
											data-parallax-options='{"overflowHidden":false,"easing":"linear"}'
										>
											<figure>
												<img src="/assets/demo/misc/parallax-img-2.jpg" alt="Good Design" />
											</figure>
										</div><!-- /.liquid-img-container-inner -->
									</div><!-- /.liquid-img-group-img-container -->
								</div><!-- /.liquid-img-group-single -->
	
							</div><!-- /.lqd-parallax-images -->
	
						</div><!-- /.col-md-5 col-md-offset-1 -->

					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

			<section class="vc_row pt-75 pb-75">
				<div class="container">

					<div class="row d-flex flex-wrap align-items-center">

						<div class="lqd-column col-md-6">
{% comment %} FIXME: This should not be necessary {% endcomment %}
{{ page.content | markdownify }}
						</div><!-- /.col-md-5 col-md-offset-1 -->

					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>

{% include case_studies.html %}
{% include testimonials.html %}
