<!DOCTYPE html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#3ed2a7">
    <meta name="keywords" content="IT, ">
    <meta name="description" content="">
    <meta name="referer" content="origin">
  
    <link rel="shortcut icon" href="/assets/favicon.png" />
  
    <title>{{ site.title }} - {{ page.title }}</title>
  
    <link href="https://fonts.googleapis.com/css?family=Barlow:600,700" rel="stylesheet">
  
    <link rel="stylesheet" href="/assets/vendors/liquid-icon/liquid-icon.min.css" />
    <link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/theme-vendors.min.css" />
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <link rel="stylesheet" href="/assets/css/themes/business.css" />
  
    <!-- Head Libs -->
    <script async src="/assets/vendors/modernizr.min.js"></script>
  
  </head>
  <body data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="minimal" data-mobile-nav-shceme="light" data-mobile-header-scheme="light" data-mobile-nav-breakpoint="1199">

{{ content }}

  <script src="/assets/vendors/jquery.min.js"></script>
  <script src="/assets/js/theme-vendors.js"></script>
  <script src="/assets/js/theme.min.js"></script>
  <script src="/assets/js/liquidAjaxContactForm.min.js"></script>
  <script src="/assets/js/liquidAjaxMailchimp.min.js"></script>
  
  
  <!-- Forcing applying css vars -->
  <script src="/assets/vendors/css-vars-ponyfill.min.js"></script>
  <script type="text/javascript">
    cssVars();
  </script>
  
  </body>
</html>
