---
layout: leaflet
---
      <section class="vc_row py-40">
        <div class="container">
          <div class="row">
            
            <div class="ltr-sp-01 lh-15 font-size-22 lqd-column col-md-6 col-sm-6 mt-40">

              <p><em>{{ page.synopsis | markdownify }}</em></p>
    
            </div><!-- /.lqd-column col-md-6 col-md-offset-1 -->

            <div class="lqd-column col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 mt-30">

              <div class="lqd-frickin-img" data-inview="true">
                <div class="lqd-frickin-img-inner">
                  <span class="lqd-frickin-img-bg bg-gradient-primary-br"></span>
                  <div class="lqd-frickin-img-holder">
                    <figure data-responsive-bg="true">
                      <img src="{{ page.img }}" alt="{{ page.title }}">
                    </figure>
                  </div><!-- /.lqd-frickin-img-holder -->
                </div><!-- /.lqd-frickin-img-inner -->
              </div><!-- /.lqd-frickin-img -->

            </div><!-- /.lqd-column col-md-5 -->

          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>

      <section class="vc_row py-40">
        <div class="container">
          <div class="row" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":44,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>
            <div class="lqd-column col-md-12">
{% comment %} FIXME: This should not be necessary {% endcomment %}
{{ page.content | markdownify }}
            </div><!-- /.lqd-column col-md-5 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>

      <section class="vc_row py-40">
        <div class="container">
          <div class="row">
            <div class="lqd-column col-md-12">
            </div><!-- /.lqd-column col-md-5 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
{% include formbutton.html %}
{% include how.html %}
{% include case_studies.html %}
{% include testimonials.html %}
